{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://seoulart.site","description":"Generated server url"}],"paths":{"/api/ticket/new":{"post":{"tags":["ticket-controller"],"summary":"티켓 예매하기","description":"티켓을 예매합니다","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTicketRequest"}}},"required":true},"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateTicketResponse"}}}},"400":{"description":"에러","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateTicketResponse"}}}}}}},"/api/seat/create":{"post":{"tags":["seat-controller"],"summary":"좌석 생성","description":"티켓 예약이 가능한 좌석을 생성합니다","operationId":"createSeats","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSeatRequest"}}},"required":true},"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreateSeatResponse"}}}}},"400":{"description":"에러","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreateSeatResponse"}}}}}}}},"/api/reply/create":{"post":{"tags":["reply-controller"],"summary":"댓글 생성","description":"댓글을 생성합니다","operationId":"createReply","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateReplyRequest"}}},"required":true},"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReplyResponse"}}}},"400":{"description":"에러","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReplyResponse"}}}}}}},"/api/event/new":{"post":{"tags":["event-controller"],"summary":"작품 등록","description":"작품을 등록합니다","operationId":"createEvent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEventRequest"}}},"required":true},"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateEventResponse"}}}},"400":{"description":"에러","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateEventResponse"}}}}}}},"/api/auth/{domain}/login":{"post":{"tags":["o-auth-controller"],"summary":"통합 로그인","description":"카카오 또는 네아버 회원 정보를 가져옵니다","operationId":"kakaoLogin","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"400":{"description":"요청 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDTO"}}}},"200":{"description":"요청 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDTO"}}}}}}},"/api/auth/refresh/token/{domain}":{"post":{"tags":["o-auth-controller"],"summary":"토큰 갱신하기","description":"토큰을 갱신합니다","operationId":"refreshToken","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshTokenRequest"}}},"required":true},"responses":{"400":{"description":"요청 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccessTokenResponse"}}}},"200":{"description":"요청 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccessTokenResponse"}}}}}}},"/api/user/creators":{"get":{"tags":["user-controller"],"summary":"창작자 목록 조회","description":"모든 창작자를 조회합니다","operationId":"showCreatorList","responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreatorDetailResponse"}}}}},"400":{"description":"에러","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreatorDetailResponse"}}}}}}}},"/api/user/creators/{userId}":{"get":{"tags":["user-controller"],"summary":"창작자 세부 조회","description":"해당 창작자의 세부사항을 조회합니다","operationId":"showCreatorDetail","parameters":[{"name":"userId","in":"path","description":"유저 id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreatorDetailResponse"}}}},"400":{"description":"에러","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreatorDetailResponse"}}}}}}},"/api/ticket/find/{userId}":{"get":{"tags":["ticket-controller"],"summary":"예매 확인","description":"해당 유저의 티켓을 조회합니다","operationId":"find","parameters":[{"name":"userId","in":"path","description":"유저 id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TicketDetailResponse"}}}},"400":{"description":"에러","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TicketDetailResponse"}}}}}}},"/api/reply/main":{"get":{"tags":["reply-controller"],"summary":"댓글 목록 조회","description":"모든 댓글 목록을 조회합니다","operationId":"viewReplyAll","responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReplyResponse"}}}}},"400":{"description":"에러","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReplyResponse"}}}}}}}},"/api/reply/detail/{replyIdx}":{"get":{"tags":["reply-controller"],"summary":"댓글 상세정보 조회","description":"댓글의 상세정보를 조회합니다","operationId":"viewReplyDetail","parameters":[{"name":"replyIdx","in":"path","description":"댓글 id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReplyResponse"}}}},"400":{"description":"에러","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReplyResponse"}}}}}}},"/api/event/{eventId}":{"get":{"tags":["event-controller"],"summary":"작품 상세정보","description":"해당 작품 정보를 조회합니다","operationId":"showDetail","parameters":[{"name":"eventId","in":"path","description":"작품 id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventDetailResponse"}}}},"400":{"description":"에러","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventDetailResponse"}}}}}},"delete":{"tags":["event-controller"],"summary":"작품 삭제","description":"해당 작품을 삭제합니다","operationId":"deleteEvent","parameters":[{"name":"eventId","in":"path","description":"작품 id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"boolean"}}}},"400":{"description":"에러","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/api/auth/{provider}/login-url":{"get":{"tags":["o-auth-controller"],"summary":"로그인 url 요청","description":"카카오, 또는 네이버 로그인 url을 요청합니다","operationId":"getLoginUrl","parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"요청 실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UrlResponse"}}}},"200":{"description":"요청 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UrlResponse"}}}}}}},"/api/user/{userId}":{"delete":{"tags":["user-controller"],"summary":"유저 삭제","description":"해당 유저를 삭제합니다","operationId":"delete","parameters":[{"name":"userId","in":"path","description":"창작자 id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"에러","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/ticket/{userId}":{"delete":{"tags":["ticket-controller"],"summary":"예매 취소","description":"예매 완료된 티켓의 예매를 취소합니다(티켓 삭제!)","operationId":"deleteTicket","parameters":[{"name":"userId","in":"path","description":"유저 id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"에러","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/seat/delete/{seatIdx}":{"delete":{"tags":["seat-controller"],"summary":"좌석 삭제","description":"좌석을 삭제합니다. delete on Cascade test 해봐야함","operationId":"deleteSeat","parameters":[{"name":"seatIdx","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"에러","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/reply/delete/{replyIdx}":{"delete":{"tags":["reply-controller"],"summary":"댓글 삭제","description":"댓글을 삭제합니다","operationId":"deleteReply","parameters":[{"name":"replyIdx","in":"path","description":"댓글 id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"type":"boolean"}}}},"400":{"description":"에러","content":{"*/*":{"schema":{"type":"boolean"}}}}}}}},"components":{"schemas":{"CreateTicketRequest":{"type":"object","properties":{"eventIdx":{"type":"integer","format":"int64"},"userIdx":{"type":"integer","format":"int64"}}},"CreateTicketResponse":{"type":"object","properties":{"eventIdx":{"type":"integer","format":"int64"},"userIdx":{"type":"integer","format":"int64"},"seatIdx":{"type":"integer","format":"int64"}}},"CreateSeatRequest":{"type":"object","properties":{"amount":{"type":"integer","format":"int32"},"eventId":{"type":"integer","format":"int64"}}},"CreateSeatResponse":{"type":"object","properties":{"seatId":{"type":"integer","format":"int64"},"eventId":{"type":"integer","format":"int64"}}},"CreateReplyRequest":{"type":"object","properties":{"username":{"type":"string"},"replyComment":{"type":"string"},"replyDateTime":{"type":"string","format":"date-time"}}},"ReplyResponse":{"type":"object","properties":{"username":{"type":"string"},"replyComment":{"type":"string"},"replyDateTime":{"type":"string","format":"date-time"}}},"CreateEventRequest":{"type":"object","properties":{"title":{"type":"string"},"detail":{"type":"string"},"image":{"type":"string"}}},"CreateEventResponse":{"type":"object","properties":{"eventTitle":{"type":"string"},"eventDetail":{"type":"string"},"eventImage":{"type":"string"}}},"LoginRequest":{"type":"object","properties":{"code":{"type":"string"}}},"UserDTO":{"type":"object","properties":{"userId":{"type":"integer","format":"int64"},"username":{"type":"string"},"role":{"type":"string"},"profileImage":{"type":"string"}}},"RefreshTokenRequest":{"type":"object","properties":{"refresh_token":{"type":"string"}}},"AccessTokenResponse":{"type":"object","properties":{"access_token":{"type":"string"},"refresh_token":{"type":"string"},"expires_in":{"type":"integer","format":"int32"},"refresh_token_expires_in":{"type":"integer","format":"int32"}}},"CreatorDetailResponse":{"type":"object","properties":{"username":{"type":"string"},"department":{"type":"string","enum":["작품1","작품2","작품3","기획팀","개발자"]},"image":{"type":"string"},"description":{"type":"string"},"profileImage":{"type":"string"}}},"TicketDetailResponse":{"type":"object","properties":{"eventIdx":{"type":"integer","format":"int64"},"eventTitle":{"type":"string"},"eventDetail":{"type":"string"},"eventImage":{"type":"string"},"seatIdx":{"type":"integer","format":"int64"},"seatStatus":{"type":"string","enum":["AVAILABLE","RESERVED","RESERVING"]},"username":{"type":"string"},"userId":{"type":"integer","format":"int64"},"ticketIdx":{"type":"integer","format":"int64"}}},"EventDetailResponse":{"type":"object","properties":{"eventIdx":{"type":"integer","format":"int64"},"title":{"type":"string"},"detail":{"type":"string"},"image":{"type":"string"}}},"UrlResponse":{"type":"object","properties":{"url":{"type":"string"}}}}}}